>Shitanshu Kusmakar (<strong><em> shitanshu.kusmakar@anz.com </em></strong>)

# Pandas: Reading and Writing

## Comma-seperated values (CSV files)

In [1]:
import pandas as pd

In [4]:
test_data=pd.read_csv('test1.csv', header=None)
print(test_data)

    0   1    2    3       4
0   1   3    5    7   apple
1  10  11   20   31  orange
2   2   2   11    0  banana
3  33   5   44  100   lemon
4   3   6  144  200    lime

In [10]:
print(test_data.columns)

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
print(test_data.shape)

(5, 5)

In [19]:
test_data=pd.read_csv('test1.csv', names=['fruit1','fruit2','fruit3','fruit4','fruit5'])
print(test_data)

   fruit1  fruit2  fruit3  fruit4  fruit5
0       1       3       5       7   apple
1      10      11      20      31  orange
2       2       2      11       0  banana
3      33       5      44     100   lemon
4       3       6     144     200    lime

In [20]:
test_data['fruit1']

0     1
1    10
2     2
3    33
4     3
Name: fruit1, dtype: int64

In [39]:
#Set which columns to be used as the index of the dataframe. 
test_data=pd.read_csv('test2.csv')
print(test_data)

  student      subject  grade  standing section
0    mark  mathematics     70         1       A
1     liz    chemistry     80         1       B
2   sarah      physics    100         2       A
3   karen  mathematics     60         2       A
4     tom      biology     41         4       B

In [40]:
test_data['grade']

0     70
1     80
2    100
3     60
4     41
Name: grade, dtype: int64

In [32]:
#Set which columns to be used as the index of the dataframe. 
test_data=pd.read_csv('test2.csv', index_col=['subject','student'])
print(test_data)

                     grade  standing section
subject     student
mathematics mark        70         1       A
chemistry   liz         80         1       B
physics     sarah      100         2       A
mathematics karen       60         2       A
biology     tom         41         4       B

In [38]:
test_data['grade']

subject      student
mathematics  mark        70
chemistry    liz         80
physics      sarah      100
mathematics  karen       60
biology      tom         41
Name: grade, dtype: int64

In [41]:
test_data.to_csv("test4.csv")

In [42]:
test_data.to_csv("test4.csv", index=False, header=False)

## JSON

In [43]:
test_data.to_json('test_data.json')

In [44]:
test_data = pd.read_json('test_data.json')
print(test_data)

  student      subject  grade  standing section
0    mark  mathematics     70         1       A
1     liz    chemistry     80         1       B
2   sarah      physics    100         2       A
3   karen  mathematics     60         2       A
4     tom      biology     41         4       B

## Pickle

The pickle module implements a powerful algorithm for serialization and
deserialization of a data structure implemented in Python. Pickling is the process in
which the hierarchy of an object is converted into a stream of bytes. This allows an object to be transmitted and stored, and then to be rebuilt by the receiver itself retaining all the original features.

In [45]:
import pickle

In [46]:
data = { 'Day': ['Mon','Tue'], 'value': [1, 2]}

In [47]:
pickled_data = pickle.dumps(data)
#print(pickled_data)

In [48]:
nframe = pickle.loads(pickled_data)
nframe

{'Day': ['Mon', 'Tue'], 'value': [1, 2]}

In [49]:
test_data=pd.read_csv('test2.csv')
test_data.to_pickle('test_data.pkl')

In [50]:
pd.read_pickle('test_data.pkl')

  student      subject  grade  standing section
0    mark  mathematics     70         1       A
1     liz    chemistry     80         1       B
2   sarah      physics    100         2       A
3   karen  mathematics     60         2       A
4     tom      biology     41         4       B