>Shitanshu Kusmakar (<strong><em> shitanshu.kusmakar@anz.com </em></strong>)

# Descriptive Statistics

In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Sarah','Elen','James','Steve','Mark','Tom','Dan']),
   'Age':pd.Series([35,46,25,46,60,39,30]),
   'Rating':pd.Series([1.11,4.21,3.73,4.75,1.30,3.7,4.9])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

    Name  Age  Rating
0  Sarah   35    1.11
1   Elen   46    4.21
2  James   25    3.73
3  Steve   46    4.75
4   Mark   60    1.30
5    Tom   39    3.70
6    Dan   30    4.90

In [2]:
print (df.sum())

Name      SarahElenJamesSteveMarkTomDan
Age                                 281
Rating                             23.7
dtype: object

In [3]:
print (df.sum(1))

0    36.11
1    50.21
2    28.73
3    50.75
4    61.30
5    42.70
6    34.90
dtype: float64

In [4]:
print (df.mean())

Age       40.142857
Rating     3.385714
dtype: float64

In [5]:
print (df.std())

Age       11.710801
Rating     1.558855
dtype: float64

In [6]:
print (df.describe())

             Age    Rating
count   7.000000  7.000000
mean   40.142857  3.385714
std    11.710801  1.558855
min    25.000000  1.110000
25%    32.500000  2.500000
50%    39.000000  3.730000
75%    46.000000  4.480000
max    60.000000  4.900000

In [7]:
print (df.describe(include=['object']))

        Name
count      7
unique     7
top     Elen
freq       1

In [8]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,5,4])
print (s.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [9]:
df = pd.DataFrame(np.random.randn(5, 2))
print (df.pct_change())

           0         1
0        NaN       NaN
1  -6.296042 -1.993328
2  -1.929566 -0.317938
3  -0.978454  0.978664
4 -61.434316 -1.185260

In [10]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
print (frame['a'].cov(frame['b']))
print (frame.cov())

0.4619677182059185
          a         b         c         d         e
a  1.390517  0.461968  0.086144 -0.698488 -0.042220
b  0.461968  1.424822  0.107292  0.494646 -0.252430
c  0.086144  0.107292  0.904336  0.127167  0.205467
d -0.698488  0.494646  0.127167  1.047719  0.056240
e -0.042220 -0.252430  0.205467  0.056240  0.864576

In [11]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

print (frame['a'].corr(frame['b']))
print (frame.corr())

0.12159220335106327
          a         b         c         d         e
a  1.000000  0.121592 -0.296291  0.166694  0.087779
b  0.121592  1.000000 -0.098588  0.019594  0.244670
c -0.296291 -0.098588  1.000000 -0.006818 -0.157801
d  0.166694  0.019594 -0.006818  1.000000 -0.143962
e  0.087779  0.244670 -0.157801 -0.143962  1.000000

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
index = pd.date_range('1/1/2000', periods=10),
columns = ['A', 'B', 'C', 'D'])
print(df)

                   A         B         C         D
2000-01-01 -1.922491 -0.663765  1.403830  0.274972
2000-01-02  0.922174 -0.220741 -0.590238  1.858573
2000-01-03  0.121131  0.302204  0.333729  1.338322
2000-01-04  2.263846  1.060605 -0.048472  0.585926
2000-01-05  0.378063  0.590603  0.512007  1.346158
2000-01-06 -0.765274  0.299633 -1.211522  0.722492
2000-01-07  0.839254  0.049838 -0.655102  0.257068
2000-01-08  1.668217  0.846937  0.258418 -0.309880
2000-01-09 -0.627810  0.072209 -1.460872  0.254464
2000-01-10  1.929397 -1.243974 -0.241686 -1.313911

In [13]:
print (df.rolling(window=3).mean())

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03 -0.293062 -0.194101  0.382441  1.157289
2000-01-04  1.102384  0.380689 -0.101660  1.260940
2000-01-05  0.921013  0.651137  0.265755  1.090135
2000-01-06  0.625545  0.650280 -0.249329  0.884859
2000-01-07  0.150681  0.313358 -0.451539  0.775239
2000-01-08  0.580732  0.398803 -0.536069  0.223227
2000-01-09  0.626554  0.322995 -0.619185  0.067218
2000-01-10  0.989935 -0.108276 -0.481380 -0.456442

### References

https://www.tutorialspoint.com/python_pandas/index.htm